# OS/IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
backend/venv/

# Node
frontend/node_modules/

# Artifacts
runs/
*.log

# Databases
*.db
database/*.db

# Builds
frontend/build/

# Env files
.env
.env.local
